html, body {
    background-color: rgb(9, 16, 27);
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#DemoCanvas {
    background-color: rgb(14, 29, 43);
}

.draggable-point {
    border-radius: 10px;
}

.movable-box {
    text-align: center; 
    background-color: #68838b; 
    color: #ffffff; 
    width: 300px; 
    height: 50px;
}